{% extends 'navigation.html'%}
{% load static %}
{% block body %}


<section class="about" id="about">

    <div class="image">
        <center><img src="{% static 'images/about2.png' %}" style="height:60%; width:40%;" class="mt-1" alt=""></center>
    </div>

    <div class="container-fluid">
        <h2>All About Notes Sharing</h2>
        <b><p> “Online Note Sharing” is the project used for sharing notes using the website. Notes that the user wants for a particular subject can be found in the website.<br> This project is written in Python Django and sqlite. Firstly, the user need to sign up and then, they can log in to the system.</p></b>

    </div>

</section>
{% endblock %}
