{% extends 'usernavigation.html' %}
{% load static %}

{% block body %}

{% if error == "no" %}
<script>
    alert('Password Changed...');
    window.location='{% url 'logout' %}';
</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert('Invalid Login Credentials, Try Again');
</script>
{% endif %}

<div class="container mt-5">
    <div class="row">
        <div class="col-sm-6">
            <h2 class="text-center text-primary bg-warning pb-1">CHANGE PASSWORD</h2>
            <hr>
            <form method="post" class=" py-4 px-3 shadow-lg" style="background-color:#275863;">
                {% csrf_token %}

                <label>Old Password</label>
                <input type="password" class="form-control" placeholder="Enter Old Password" name="old" required>

                <label>New Password</label>
                <input type="password" class="form-control" placeholder="Enter New Password" name="new" required>

                <label>Confirm Password</label>
                <input type="password" class="form-control" placeholder="Re Enter New Password" name="confirm" required>
                <hr>
                <center><input type="submit" class="btn btn-warning mt-2" value="Submit"></center>

            </form>
        </div>
        <div class="col-sm-6"><br>
            <img src="{% static 'images/changepassw.png' %}" style="width: 90%; height:75%">
        </div>
    </div>
</div>

{% endblock %}
