{% extends 'navigation.html'%}
{% load static %}
{% block body %}
{% ifequal error "no" %}
     <script>
	   alert('Your Message has been Send Successfully');
	   window.location=('{% url 'contact' %}');
     </script>
{% endifequal %}
{% ifequal error "yes" %}
     <script>
	    alert('Something went wrong, Try Again');
     </script>
{% endifequal %}
<section class="contact" id="contact">
<h1 class="text-center mt-1 pb-2" style="background-color:orange;">Contact Us</h1>
<div class="container-fluid">
<div class="row">
  <div class="col-md-6">
        <img src="{% static 'images/contact1.png' %}" style="height:90%; width:70%;" class="bg-success img-thumbnail shadow-lg ml-4" alt="">
  </div>
  <div class="col-md-5">
    <form method="post">
        {% csrf_token %}
        <input type="text" placeholder="full name" name="fullname" class="form-control ">
        <input type="email" placeholder="your email" name="email" class="form-control mt-2">
        <input type="number" placeholder="your contact number" name="mobile" class="form-control mt-2">
        <input type="text" placeholder="Subject" name="subject" class="form-control mt-2">
        <textarea name="message" id="" cols="30" rows="8" class="form-control mt-2" placeholder="Send Message..."></textarea>
        <center><input type="submit" class="btn btn-success shadow-lg mt-2" value="send now"></center>
    </form>
  </div>
</div>
</div>
</section>
{% endblock %}
