{% extends 'usernavigation.html'%}
{% load static %}
{% block body %}

{% ifequal error "no" %}
<script>
	alert('Notes Uploaded Successfully');
    window.location=('{% url 'view_mynotes' %}');
</script>
{% endifequal %}

{% ifequal error "yes" %}
<script>
	alert('Something went wrong, Try Again');
</script>
{% endifequal %}

<div class="container card shadow mt-5" style="background-color:lightgreen;"
		style="font-family: 'IBM Plex Sans', sans-serif;">
	<div class="card-body">
	<h2 class="text-center text-primary">Upload Notes</h2>
	<hr>
		<div class="row">
			<div class="col-sm-6">
				<img src="{% static 'images/note1.jpg' %}" style="width: 85%; height:85%" class="mt-3 img-thumbnail">
			</div>

			<div class="col-sm-6">

				<form method="post" enctype="multipart/form-data">
					{% csrf_token %}

					<label> Branch</label>
						<select class="form-control" name="branch">
						  <option value="">--- Select Branch ---</option>
						  <option value="Computer Science">Computer Science</option>
						  <option value="IT">IT</option>
						</select>

					<label> Subject</label>
					<input type="text" class="form-control" placeholder="Enter Subject" name="subject">

					<label>Notes File</label>
					<input type="file" name="notesfile" class="form-control">

					<label> File Type</label>
					  <select class="form-control" name="filetype">
						<option value="PDF">--- Select File Type ---</option>
						<option value="PDF">PDF</option>
						<option value="PPT">PPT</option>
						<option value="DOC/DOCX">DOC/DOCX</option>
						<option value="TXT">TXT</option>
						<option value="Image">Image</option>
						<option value="ZIP/RAR">ZIP/RAR</option>
					  </select>

					<label>Description</label>
						<textarea class="form-control" rows="3" name="description"></textarea>
                    <center><input type="submit" class="btn btn-warning mt-2" value="Submit"></center>

				</form>
			</div>
		</div>
</div>
</div>
{% endblock %}
